*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
}

.webgl
{
    
    position: fixed;
    top: 30%;
    left: 23%;
    outline: none;
}

body {
    background-image: url("/src/img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}